<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.team.mapper.AdminMapper">

	<!-- gongji -->
	<insert id="write_ok" parameterType="kr.co.team.vo.AdminVO">
		insert into gongji(title,userid,content, writeday, name, state) 
		values(#{title},#{userid},#{content},now(),#{name},#{state})
	</insert>
	<select id="list" resultType="kr.co.team.vo.AdminVO">
		select * from gongji where state = 0 order by id desc limit #{param1}, 10
	</select>
	
	<select id="import_list" resultType="kr.co.team.vo.AdminVO">
		select * from gongji where state = 1 order by id desc
	</select>
	
	<select id="gongji_getCount" resultType="Integer">
		select count(*) from gongji where state=0
	</select>
	
	<select id="gongji_getChong" resultType="Integer">
		select ceil(count(*)/10) from gongji
	</select>
	
	<update id="readnum" parameterType="kr.co.team.vo.AdminVO">
	
		update gongji set readnum = readnum + 1 where id=#{param1}
	</update>
	
	<select id="content" resultType="kr.co.team.vo.AdminVO">
		select * from gongji where id=#{param1}
	</select>
	
	<select id="nextcontent" resultType="kr.co.team.vo.NextVO">
		select * from 
		(select id, lead(id) over(order by id) as nextid,
		lag(id) over(order by id) as preid,
		lead(title) over(order by id) as nexttitle,
		lag(title) over(order by id) as pretitle from gongji) 
		gongji where id=#{param1}
	</select>
	
	<update id="update_ok" parameterType="kr.co.team.vo.AdminVO">
		update gongji set title=#{title}, content=#{content} where id=#{id}
	</update>
	
	<delete id="delete">
		delete from gongji where id=#{param1}
	</delete>
	
	
	<!-- faq -->
	<insert id="faq_write_ok" parameterType="kr.co.team.vo.FaqVO">
		insert into faq(question,ask,gubun) values(#{question},#{ask},#{gubun})
	</insert>
	
	<select id="faq_list" resultType="kr.co.team.vo.FaqVO">
		select * from faq order by id desc limit #{param1}, 10
	</select>
	
	<select id="faq_getChong" resultType="Integer">
		select ceil(count(*)/10) from faq
	</select>
	
	<select id="faq_list_etc" resultType="kr.co.team.vo.FaqVO">
		select * from faq where gubun=#{param1} order by id desc limit #{param2}, 10
	</select>
	
	<select id="faq_etc_getChong" resultType="Integer">
		select ceil(count(*)/10) from faq where gubun=#{param1}
	</select>
	
	<delete id="faq_delete">
		delete from faq where id=#{param1}
	</delete>
	
	<select id="faq_update" resultType="kr.co.team.vo.FaqVO">
		select * from faq where id=#{param1}
	</select>
	
	<update id="faq_update_ok" parameterType="kr.co.team.vo.FaqVO">
		update faq set gubun=#{gubun}, question=#{question}, ask=#{ask} where id=#{id}
	</update>
	
	
	<!-- 회원정보 -->
	<select id="mem_list" resultType="kr.co.team.vo.MemberVO">
		select * from member order by userid asc limit #{param1}, 10
	</select>
	
	<!-- 총페이지 -->
	<select id="mem_getChong" resultType="Integer">
		select ceil(count(*)/10) from member
	</select>
	
	<select id="mem_content" resultType="kr.co.team.vo.MemberVO">
		select *, (select sum(chong) from buy where userid=member.userid) as chong
		from member where userid = #{param1}
	</select>
	
	<!-- 상품리스트 -->
	<select id="pro_list" resultType="kr.co.team.vo.ProductVO">
		select * from product order by id desc limit #{param1}, 10
	</select>
	
	<select id="pro_list_count" resultType="Integer">
		select count(pcode) from product
	</select>
	
	<select id="pro_getChong" resultType="Integer">
		select ceil(count(*)/10) from product
	</select>
	
	<select id="pro_list_etc" resultType="kr.co.team.vo.ProductVO">
		select * from product where pcode like concat(#{param1},'%') limit #{param2}, 10
	</select>
	
	<select id="pro_list_etc_count" resultType="Integer">
		select count(pcode) from product where dcode=#{param1}
	</select>
	
	<select id="pro_etc_getChong" resultType="Integer">
		select ceil(count(*)/10) from product where pcode like concat(#{param1},'%')
	</select>
	
	<select id="pro_update" resultType="kr.co.team.vo.ProductVO">
		select * from product where id = #{param1}
	</select>
	
	<delete id="pro_delete">
		delete from product where id = #{param1}
	</delete>
	
	<select id="pro_cat" resultType="kr.co.team.vo.DaeVO"> <!-- admin/pro_content에서 카테고리 option -->
		select * from dae order by dcode asc
	</select>
	
	<update id="pro_update_ok" parameterType="kr.co.team.vo.ProductVO">
		update product set pimg=#{pimg}, title=#{title}, size=#{size}, color=#{color},
		stock=#{stock}, cimg=#{cimg}, price=#{price}, halin=#{halin} where id=#{id}
	</update>
	
	
	<!-- 상품문의 -->
	<select id="inquiry_list" resultType="kr.co.team.vo.InquiryVO">
		select *, (select title from product where pcode = inquiry.pcode) as pro_title,
		(select count(*) from answer where cid=inquiry.id) as cnt from inquiry order by id desc
	</select>
	
	<select id="inquiry_content" resultType="kr.co.team.vo.InquiryVO">
		select *, (select title from product where pcode = inquiry.pcode) as pro_title,
		(select content from answer where cid=inquiry.id) as answer_content from inquiry where id=#{param1}
	</select>
	
	<select id="getAnswer" resultType="String">
		select content from answer where cid=#{param1}
	</select>
	
	<insert id="inquiry_answer" parameterType="kr.co.team.vo.AnswerVO">
		insert into answer(content,cid,writeday) values(#{content},#{cid},now())
	</insert>
	
	<update id="inquiry_update" parameterType="kr.co.team.vo.AnswerVO">
		update answer set content=#{content} where cid=#{cid}
	</update>
	
	<!-- 주문(구매)관련 -->
	<select id="buy_list" resultType="kr.co.team.vo.BuyVO">
		select buy.*, product.title from buy, product where buy.pcode = product.pcode order by id desc
	</select>
	
	<update id="change_state" parameterType="kr.co.team.vo.BuyVO">
		update buy set state=#{param1} where id=#{param2}
	</update>
</mapper>