<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
<mapper namespace="kr.co.team.mapper.PageMapper">

 <insert id="wish_add">
  insert into wish(userid,pcode,su,color,size,writeday)
  values(#{param1},#{param2},#{param3},#{param4},#{param5},now())
 </insert>
 
  <insert id="cart_add">
    insert into cart(userid,pcode,su,color,size,writeday)
    values(#{param1},#{param2},#{param3},#{param4},#{param5},now())
  </insert>

 <select id="wish" resultType="kr.co.team.vo.WishVO">
   select p.title,p.pimg,p.price,w.writeday,w.id,w.pcode,w.su,w.size,w.color
   from product as p , wish as w 
   where w.pcode=p.pcode and userid=#{param1};
 </select>
 
 <delete id="wish_del">
  delete from wish where id=#{param1}
 </delete>
 
 <insert id="move_cart">
  insert into cart(userid,pcode,su,size,color,writeday)
  values(#{param1},#{param2},#{param3},#{param4},#{param5},now())
 </insert>
 
 <delete id="wish_del2">
  delete from wish where userid=#{param1} and pcode=#{param2}
 </delete>
 
 <select id="cart" resultType="kr.co.team.vo.CartVO">
  select p.title,p.pimg,p.price,c.size,c.color,c.su,c.writeday,c.id,c.pcode from cart as c , product as p 
  where p.pcode=c.pcode and userid=#{param1}
 </select>
 
 <delete id="cart_del">
  delete from cart where id=#{param1}
 </delete>
 
 <select id="buy" resultType="kr.co.team.vo.ProductVO">
  select * from product where pcode=#{param1}
 </select>
 
 <select id="member" resultType="kr.co.team.vo.MemberVO">
  select * from member where userid=#{param1}
 </select>
 
  <select id="baesong" resultType="kr.co.team.vo.BaesongVO">
    select * from baesong where userid=#{param1} and gibon=1
  </select>
  
  <insert id="bae_add" parameterType="kr.co.team.vo.MemberVO">
    insert into baesong(name,zip,juso,juso_etc,phone,userid,gibon)
    values(#{name},#{zip},#{juso},#{juso_etc},#{phone},#{userid},1)
  </insert>
  
  <select id="baesong_list" resultType="kr.co.team.vo.BaesongVO">
    select * from baesong where userid=#{param1}
  </select>
  
  <insert id="juso_add_ok" parameterType="kr.co.team.vo.MemberVO">
    insert into baesong(name,zip,juso,juso_etc,phone,userid)
    values(#{name},#{zip},#{juso},#{juso_etc},#{phone},#{userid})
  </insert>
  
  <select id="baesong_edit" resultType="kr.co.team.vo.BaesongVO">
    select * from baesong where id=#{param1}
  </select>
  
  <update id="baesong_edit_ok" parameterType="kr.co.team.vo.BaesongVO">
    update baesong set name=#{name}, zip=#{zip}, juso=#{juso},
    juso_etc=#{juso_etc}, phone=#{phone} where id=#{id}
  </update>
  
  <insert id="buy_ok" parameterType="kr.co.team.vo.BuyVO">
     insert into buy(pcode,size,color,su,jumunc,userid,bae_id,chong,sudan,bank,card,gigan,phone,writeday,state)
     values(#{pcode},#{size},#{color},#{su},#{jumunc},#{userid},#{bae_id},#{chong},#{sudan},
     #{bank},#{card},#{gigan},#{phone},now(),0)
  </insert>
  
  <select id="getjumun" resultType="Integer">
    select ifnull(max(right(jumunc,4)),0) from buy where userid=#{param1}
  </select>
  
  <select id="buy_view" resultType="kr.co.team.vo.ViewVO">
   select b.* , p.pimg, p.title,p.price,p.halin,p.juk,
   ba.name,ba.phone as hphone,ba.juso,ba.juso_etc,ba.chuga  
   from product as p, baesong as ba, buy as b
   where b.pcode=p.pcode and b.bae_id=ba.id and jumunc=#{param1}
  </select>
  
  <select id="myorder" resultType="kr.co.team.vo.BuyVO">
   select b.* , p.pimg,p.title from buy as b, product as p 
   where userid=#{param1} and b.pcode=p.pcode order by jumunc desc; 
  </select>
  
  <update id="change_state">
   update buy set state=#{param2} where id=#{param1}
  </update>

  <select id="review" resultType="kr.co.team.vo.BuyVO">
   select * from buy where id=#{param1}
  </select> 

  <insert id="review_ok" parameterType="kr.co.team.vo.ReviewVO">
    insert into review(pcode,content,title,userid,bid,writeday)
    values(#{pcode},#{content},#{title},#{userid},bid,now())
  </insert>
  
  <update id="hugi">
    update buy set hugi=1 where id=#{param1}
  </update>
  
  <select id="myreview" resultType="kr.co.team.vo.ReviewVO">
    select r.*,p.pimg,p.title as ptitle from review as r, product as p 
    where userid=#{param1} and r.pcode=p.pcode;
  </select>
  
  <delete id="review_del">
    delete from review where id=#{param1}
  </delete>
  
  <update id="change_hugi">
    update buy set hugi=0 where id=#{param1}
  </update>
  
  <select id="review_update" resultType="kr.co.team.vo.ReviewVO">
    select * from review where id=#{param1}
  </select>
  
  <update id="review_update_ok" parameterType="kr.co.team.vo.ReviewVO">
    update review set title=#{title}, content=#{content}
    where id=#{id}
  </update>
  
</mapper>