<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
<mapper namespace="kr.co.team.IndexMapper">

  <select id="index" resultType="kr.co.team.vo.ProductVO"> <!-- 신상품  -->
    select * from product order by readnum limit 6
  </select>
  
  <select id="index2" resultType="kr.co.team.vo.ProductVO"> <!-- best상품  -->
    select * from product order by writeday, title limit 6
  </select>
</mapper>